<html ng-app="codeapp">
    <head>
      <link rel="stylesheet" href="/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/bootstrap-select.min.css"/>
      <link rel="stylesheet" href="/css/nya-bs-select.css"/>
      <link rel="stylesheet" href="/css/css.css"/>
      <link rel="stylesheet" href="/css/nya-bs-select.css"/>
      <link rel="stylesheet" href="/css/ng-tags-input.css"/>
      <link rel="stylesheet" href="/css/ng-tags-input.bootstrap.css"/>

      <script type="text/javascript" src="/js/angular.js"></script>
      <script type="text/javascript" src="/js/angular-cookies.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <script type="text/javascript" src="/js/nya-bs-select.js"></script>
      <script type="texte/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="ticketController">
	    <div class="container6">
	    	<img src="concrete.gif" vspace="15px" hspace="10px" border="15px" align=""/>
		
	    </div>
	    <div class="container6">
		    Bem Vindos ao Relatorio de Tickets!!
	    </div>

        <div class="container6">
		Selecione o seu Periodo de Trabalho <br / >
	  	<ol class="nya-bs-select"  ng-model="opcao" ng-change="change()" data-live-search="true" title="Nenhuma opção escolhida">
            		<li nya-bs-option="group in periodo" data-value="group.id">
				<a> 
					{{group.periodo}}
				</a>
	    		</li>
		
	    	</ol>
		
        </div>
	 <div class="container6">
		 
			{{ticket}}	
	</div>
	<div class="container6">
		 <button type="button" class="btn btn-secondary btn-lg" ng-click="change()">Atualizar</button>
	</div>
    </body>
</html>
